.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 560px;
  max-height: 560px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#fff, #008b8b);
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

.containerIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  max-width: 470px;
  max-height: 470px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  font-size: 11px;
}

.itemsContainerIn {
  margin: 0px 120px 0px 120px;
  font-family: "Avenir next ultra light";
}
.logIn {
  text-align: right;
  margin-top: 110px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button {
  font-size: 14px;
  width: auto;
  height: 30px;
  border-radius: 20%;
  border: 0px;
  background: rgba(95, 158, 160, 0.4);
  margin: 20px;
}
.button:hover {
  background: rgba(95, 158, 160, 0.8);
}
.buttonRegSwitch {
  font-size: 13px;
  width: auto;
  background-color: inherit;
  height: 20px;
  border-radius: 20%;
  border: solid 1px;
  margin-left: 10px;
}
.buttonRegSwitch:hover {
  background: rgb(95, 158, 160);
}
