.outLineHistoryContainer {
  display: flex;
  flex-direction: column;
  background: rgba(210, 253, 255, 0.2);
  max-width: 660px;
  width: 100%;
  height: 100%;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  
}
.HistoryContainer {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 99%;
}

.messageContainer {
  display: flex;
  padding: 5px;
  margin: 1px 0px 1px 0px;
  background: rgba(95, 158, 160, 0.6);
  border-radius: 10px;
  border: 0px;
  width: fit-content;
}
.right {
  align-self: flex-end;
  background: rgba(95, 158, 160, 0.1);
  border: 0px;
}

.messageTimeStamp {
  text-align: left;
  padding: 0px 10px 0px 5px;
  color: #808080;
  font-size: 11px;
}
.messageRight {
  color: ##696969;
}

.messageUser {
  text-align: left;
  padding: 10px 5px 0px 5px;
}
.messageContent {
  text-align: left;
  padding: 10px 5px 0px 5px;
}
